﻿@model FixedDD.Models.AirLinesName

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/SeeingoMaster.cshtml";
}

<div class="container-fluid">
    <div class="panel panel-primary">

        <div class="panel panel-heading">
            <span class="glyphicon glyphicon-fullscreen"></span> &nbsp; AirLines Names List Details
            <a class="btn btn-warning btn-sm pull-right margintop4px" href="/AirLinesNames/Index"><span class="glyphicon glyphicon-circle-arrow-left"></span> Back to List</a>
        </div>
        <div class="panel panel-body">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.AL_Code)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.AL_Code)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.AL_Name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.AL_Name)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.CreatedDate)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.CreatedDate)
                </dd>              
            </dl>
        </div>
    </div>
</div>
