﻿@model FixedDD.Models.FlightSearchResults

@{
    ViewBag.Title = "Flight Search";
    Layout = "~/Views/Shared/SeeingoMaster.cshtml";
}

<script src="~/Scripts/jquery-1.11.3.min.js"></script>
<script src="~/clockpicker.js"></script>
<link href="~/clockpicker.css" rel="stylesheet" />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="panel panel-info">
        <div class="panel-heading PanelHeader">
            <span class="glyphicon glyphicon-plus"></span>&nbsp; Flight Result
            @{
                var stringurl = "";
                if (Session["isExecutive"].ToString() == "1")
                {
                    stringurl = "/FlightSearchResults";
                }
                else
                {
                    stringurl = "/FixedDeparture/FlightSearchResults";
                }
                <a class="btn btn-warning btn-sm pull-right MarginTop5pxup" href="@stringurl/Index"><span class="glyphicon glyphicon-circle-arrow-left"></span> Back To List</a>
            }
        </div>
        <div class="panel panel-body">
            <div class="panel panel-primary sad">
                <div class="panel panel-heading" style="padding: 0px 9px;height: 46px;">
                    <h4 style="color:#fff;"> Sector Details</h4>
                </div>
                <div class="panel panel-body" style="margin-top:-30px;">
                    <div class="row form-group">
                        <div class="col-sm-12">
                            <div class="Trip_Width">
                                <lable style="margin-right:36px;">Trip Type</lable>
                                <label class="radio-inline"><input type="radio" name="Triptype" id="Triptype" value="One Way" checked>One Way</label>
                                <label class="radio-inline"><input type="radio" name="Triptype" id="Triptype" value="Round Trip">Round Trip</label>
                            </div>
                        </div>
                    </div><hr />
                    <div class="row form-group">
                        <div class="col-sm-6">
                            <label>Form </label>
                            <div class="input-group">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-plane Fa_Rotation"></span></span>
                                <input type="text" class="form-control fontSize " id="OrgDestFrom" name="OrgDestFrom" placeholder="Select Destination" required />
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <label>To </label>
                            <div class="input-group">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-plane Fa_Rotation"></span></span>
                                <input type="text" class="form-control fontSize" id="OrgDestTo" name="OrgDestTo" placeholder="Select Destination" required />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-primary sad">
                <div class="panel panel-heading" style="padding: 0px 9px;height: 46px;">
                    <h4 style="color:#fff;"> Sector Type <span class="glyphicon glyphicon-arrow-right"></span> One Way </h4>
                </div>
                <div class="panel panel-body" style="margin-top:-30px;">
                    <div class="row form-group">
                        <div class="col-sm-2">
                            <label>Airlines Name</label>
                            <input type="text" name="AirLineName" id="AirLineName" placeholder="Select AirLines Name.." class="form-control fontSize" required />
                        </div>
                        <div class="col-sm-2">
                            <label>Flight No.</label>
                            <input type="text" name="FlightNo" id="FlightNo" placeholder="Enter Flight No.." class="form-control fontSize" required />
                        </div>
                        <div class="col-sm-3 ">
                            <label>Dep From </label>
                            <input type="text" name="Departure_Date" id="Departure_Date" placeholder="Selcet Date.." class="form-control fontSize" required />
                        </div>
                        <div class="col-sm-3">
                            <label>Dep To </label>
                            <input type="text" name="Arrival_Date" id="Arrival_Date" placeholder="Select Date.." class="form-control fontSize" />
                        </div>
                        <div class="col-sm-2">
                            <label>Dep Time</label>
                            <div class="input-group clockpicker" id="DepartureTime">
                                <input type="text" name="DepartureTime" id="DepartureTime" value="" placeholder="Time.." class="form-control fontSize" />
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-time"></span>
                                </span>
                            </div>
                            <script>
                                var input = $('#DepartureTime');
                                input.clockpicker({
                                    autoclose: true,
                                });
                            </script>
                        </div>                                              

                    </div>
                    <div class="row form-group">                        
                        <div class="col-sm-2">
                            <label>Arr Time</label>
                            <div class="input-group clockpicker" id="ArrivalTime">
                                <input type="text" name="ArrivalTime" id="ArrivalTime" placeholder="Time.." value="" class="form-control fontSize" />
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-time"></span>
                                </span>
                            </div>
                            <script>
                                var input = $('#ArrivalTime');
                                input.clockpicker({
                                    autoclose: true
                                });
                            </script>
                        </div>
                        <div class="col-sm-2">
                            <label>Departure Terminal</label>
                            <input type="text" class="form-control fontSize" id="DepartureTerminal" name="DepartureTerminal" placeholder="Enter Dep Terminal.." required />
                        </div>
                        <div class="col-sm-2">
                            <label>Arrival Terminal</label>
                            <input type="text" class="form-control fontSize" id="ArrivalTerminal" name="ArrivalTerminal" placeholder="Arr Terminal" required />
                        </div>
                        <div class="col-sm-2 hidden">
                            <label>RBD</label>
                            <input type="text" name="RBD" id="RBD" placeholder="Enter Rbd.." class="form-control fontSize" />
                        </div>
                        <div class="col-sm-4">
                            <label>Class Type</label>
                            <select name="ClassType" id="ClassType" class="form-control fontSize">
                                <option value="" selected="selected">--All--</option>
                                <option value="Business">Business</option>
                                <option value="Economy">Economy</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-primary sad" id="tmt" style="display:none;">
                <div class="panel panel-heading" style="padding: 0px 9px;height: 46px;">
                    <h4 style="color:#fff;">Sector Type <span class="glyphicon glyphicon-arrow-right"></span> Round Trip </h4>
                </div>
                <div class="panel panel-body" style="margin-top:-30px;">
                    <div class="row form-group">
                        <div class="col-sm-2">
                            <label> Return Airlines Name</label>
                            <input type="text" name="Rt_AirLineName" id="Rt_AirLineName" placeholder="Select AirLines Name.." class="form-control fontSize" />
                        </div>
                        <div class="col-sm-2">
                            <label>Return Flight No.</label>
                            <input type="text" name="Rt_FlightNo" id="Rt_FlightNo" placeholder="Enter Flight No.." class="form-control fontSize" />
                        </div>
                        <div class="col-sm-2 ">
                            <label>Return Dep Date</label>
                            <input type="text" name="Rt_Departure_Date" id="Rt_Departure_Date" placeholder="Selcet Date.." class="form-control fontSize" />
                        </div>
                        <div class="col-sm-2">
                            <label>Return Dep Time</label>
                            <div class="input-group clockpicker" id="Rt_DepartureTime">
                                <input type="text" name="Rt_DepartureTime" id="Rt_DepartureTime" placeholder="Rt_Dep. Time.." value="" class="form-control fontSize" />
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-time"></span>
                                </span>
                            </div>
                            <script>
                                var input = $('#Rt_DepartureTime');
                                input.clockpicker({
                                    autoclose: true
                                });
                            </script>
                        </div>
                        <div class="col-sm-2">
                            <label>Return Arr Date</label>
                            <input type="text" name="Rt_Arrival_Date" id="Rt_Arrival_Date" placeholder="Select Date.." class="form-control fontSize" />
                        </div>
                        <div class="col-sm-2">
                            <label>Return Arr Time</label>
                            <div class="input-group clockpicker" id="Rt_ArrivalTime">
                                <input type="text" name="Rt_ArrivalTime" id="Rt_ArrivalTime" placeholder="Rt_Time.." value="" class="form-control fontSize" />
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-time"></span>
                                </span>
                            </div>
                            <script>
                                var input = $('#Rt_ArrivalTime');
                                input.clockpicker({
                                    autoclose: true
                                });
                            </script>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-sm-2">
                            <label>Return Dep. Terminal</label>
                            <input type="text" class="form-control fontSize" id="Rt_DepartureTerminal" name="Rt_DepartureTerminal" placeholder="Enter Dep Terminal.." />
                        </div>
                        <div class="col-sm-2">
                            <label>Return Arr. Terminal</label>
                            <input type="text" class="form-control fontSize" id="Rt_ArrivalTerminal" name="Rt_ArrivalTerminal" placeholder="Arr Terminal" />
                        </div>
                        <div class="col-sm-2 hidden">
                            <label>Return RBD</label>
                            <input type="text" name="Rt_RBD" id="Rt_RBD" placeholder="Enter Rbd.." class="form-control fontSize" />
                        </div>
                        <div class="col-sm-2">
                            <label>PNR</label>
                            <input type="text" name="Rt_fareBasis" id="Rt_fareBasis" placeholder="Enter PNR.." class="form-control fontSize" />
                        </div>
                        <div class="col-sm-4">
                            <label>Return Class Type</label>
                            <select name="Rt_ClassType" id="Rt_ClassType" class="form-control fontSize">
                                <option value="" selected="selected">--All--</option>
                                <option value="Business">Business</option>
                                <option value="Economy">Economy</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-primary sad">
                <div class="panel panel-heading" style="padding: 0px 9px;height: 46px;">
                    <h4 style="color:#fff;"> Fare Details</h4>
                </div>
                <div class="panel panel-body" style="margin-top:-30px;">
                    <div class="row form-group">
                        <div class="col-sm-2">
                            <label>Bags Information</label>
                            <input type="text" name="BagInfo" id="BagInfo" class="form-control fontSize" placeholder="Enter Bag Infomartion.." required />
                        </div>
                        <div class="col-sm-2">
                            <label>Fare Rule</label>
                            <select id="FareRule" name="FareRule" class="form-control fontSize">
                                <option value="0">--Selecet One--</option>
                                <option value="R">Refundable</option>
                                <option value="N">Non-Refundable</option>
                            </select>
                        </div>
                     
                        <div class="col-sm-3">
                            <div class="checkbox" style="margin-top:22px;">
                                <label style="font-size:27px;">
                                    <input type="checkbox" value="true" checked="checked" id="Status" name="Status" />
                                    <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                                    Status
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>          
            <div class="row form-group">
                <div class="col-sm-12">
                    <input type="submit" class="btn btn-warning btn-lg pull-right fontSizebtn" value="Save" />
                </div>
            </div>
        </div>

    </div>
}

<style>
    .Trip_Width {
        border: 1.4px solid #b2aeae;
        width: 48%;
        padding: 6px 78px;
    }

    .Fa_Rotation {
        transform: rotate(61deg);
        color: #337ab7;
        font-size: 22px;
    }

    .ui-datepicker {
        background: #333;
        border: 1px solid #555;
        color: #EEE;
    }

    .sad {
        box-shadow: 0 0 8px rgba(0,0,0,.5) !important;
    }

    .common {
    }

    .fontSize {
        font-size: 12px !important;
    }

    .fontSizebtn {
        width: 17%;
        font-size: 20px !important;
        font-family: sans-serif;
    }

    .timedate {
        width: 100%;
        height: 33px;
        padding: 12px;
    }

    .checkbox label:after,
    .radio label:after {
        content: '';
        display: table;
        clear: both;
    }

    .checkbox .cr,
    .radio .cr {
        position: relative;
        display: inline-block;
        border: 1px solid #1d2965;
        border-radius: .25em;
        width: 1.3em;
        background-color: #e2e2e2;
        height: 1.3em;
        float: left;
        margin-right: .5em;
    }

    .radio .cr {
        border-radius: 50%;
    }

        .checkbox .cr .cr-icon,
        .radio .cr .cr-icon {
            position: absolute;
            font-size: .8em;
            line-height: 0;
            top: 50%;
            left: 20%;
        }

        .radio .cr .cr-icon {
            margin-left: 0.04em;
        }

    .checkbox label input[type="checkbox"],
    .radio label input[type="radio"] {
        display: none;
    }

        .checkbox label input[type="checkbox"] + .cr > .cr-icon,
        .radio label input[type="radio"] + .cr > .cr-icon {
            transform: scale(3) rotateZ(-20deg);
            opacity: 0;
            transition: all .3s ease-in;
        }

        .checkbox label input[type="checkbox"]:checked + .cr > .cr-icon,
        .radio label input[type="radio"]:checked + .cr > .cr-icon {
            transform: scale(1) rotateZ(0deg);
            opacity: 1;
        }

        .checkbox label input[type="checkbox"]:disabled + .cr,
        .radio label input[type="radio"]:disabled + .cr {
            opacity: .5;
        }
</style>

@*<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">*@
<link href="~/Content/DatePickerMYcss.css" rel="stylesheet" />
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script src="~/Scripts/FltSearchResult.js"></script>


