﻿@model IQueryable<FixedDD.Models.FlightSearchResults>


<link href="~/Content/bootstrap-table.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap-table.js"></script>

<div class="">
    <div id="tbldata">
      
        <div class="col-sm-12">
            <table class="table table-bordered table-condensed" data-height="400" data-toggle="table">
                <thead>
                    <tr>
                        <th>
                            Action
                        </th>
                        <th>
                            Trip Type
                        </th>
                        <th>
                            OrgDestFrom
                        </th>
                        <th>
                            OrgDestTo
                        </th>
                        <th>
                            Airlines Name
                        </th>
                        <th>
                            Flight No
                        </th>
                        <th>
                            Dep Date
                        </th>
                        <th>
                            Dep Time
                        </th>
                        <th>
                            Arv Time
                        </th>

                        <th>
                            Avl Seat
                        </th>
                        <th>Fare</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>
                        <td>

                            <div class="btn-group">
                                @*<a href="/FlightSearchResults/Edit/@item.id" class="btn btn-warning btn-xs" data-toggle="tooltip" title="Edit"><span class="glyphicon glyphicon-edit"></span></a>*@
                                <a href="/FlightSearchResults/Details/@item.id" class="btn btn-success btn-xs" data-toggle="tooltip" title="Detail"><span class="glyphicon glyphicon-fullscreen"></span></a>
                                <a href="/FlightSearchResults/Delete/@item.id" class="btn btn-danger btn-xs" data-toggle="tooltip" title="Delete"><span class="glyphicon glyphicon-remove"></span></a>
                            </div>
                        </td>

                        <td>
                            @item.Triptype
                        </td>
                        <td>
                            @item.OrgDestFrom
                        </td>
                        <td>
                            @item.OrgDestTo
                        </td>
                        <td>
                            @item.AirLineName
                        </td>
                        <td>
                            @item.FlightNo
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Departure_Date)
                        </td>
                        <td>
                            @item.DepartureTime
                        </td>
                        <td>
                            @item.ArrivalTime
                        </td>
                        <td class="text-center">
                            <a data-fancybox-type="iframe" data-fancybox-href="@Url.Action("AddSeat", "FlightSearchResults", new { id = item.id,seat2=item.Avl_Seat })" class="edit2"><span style="color:forestgreen;">@item.Avl_Seat <br />ADD Seat</span></a>
                        </td>
                        <td class="text-center">
                            <a data-fancybox-type="iframe" data-fancybox-href="@Url.Action("MeangeFare", "FlightSearchResults", new { id = item.id })" class="edit2"><span style="color:forestgreen;">@item.Grand_Total <br />Manage</span></a>
                        </td>

                    </tr>
                    }
                </tbody>
            </table>
        </div>

    </div>
</div>

<style>
    .btn-info:hover {
        cursor: no-drop;
    }
</style>

<script>
    var NextPage = function () {
        var PageNo = $('#txtSelect').val();
        $.get('/FlightSearchResults/NextResult?page=' + PageNo, function (data) {
            $('#tbldata').html(data);
        });
    }

</script>
