﻿@model IEnumerable<FixedDD.Models.FlightSearchResults>
@{
    ViewBag.Title = "PNRUpdate";
    Layout = "~/Views/Shared/SeeingoMaster.cshtml";
}

@if (!string.IsNullOrEmpty(Convert.ToString( TempData["errorMsg"])))
{
        <div class="alert alert-warning">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>@Convert.ToString(TempData["errorMsg"])</strong> 
        </div>    
}
<div class="panel panel-info">
    <div class="panel-heading PanelHeader">
        <div class="row">
            <div class="col-sm-4">
                <span class="glyphicon glyphicon-plus"></span>&nbsp; Update PNR
            </div>
            <div class="col-sm-6">
                @foreach (var item in Model.Take(1))
                {
                    <b>@item.DepartureCityName To @item.ArrivalCityName</b>
                }
            </div>
        </div>
    </div>
    <div class="panel panel-body">
        <div class="panel panel-primary sad">
            <div class="panel panel-body">
                <div class="row form-group">
                    <div class="col-sm-3">
                        <label>Travel Date</label>
                    </div>
                    <div class="col-sm-3">
                        <label>PNR</label>
                    </div>
                    <div class="col-sm-3">
                        <label>Seat</label>
                    </div>
                    <div class="col-sm-3">
                        <label>Amount</label>
                    </div>
                </div>
                @{int i = 0;}
                @foreach (var item in Model.OrderBy(b => b.id))
                {
                    <input type="hidden" id="@item.id" name="@item.id" />
                    <div class="row form-group">
                        <div class="col-sm-3">
                            <input type="text" class="form-control" value="@item.Departure_Date" id="Departure_Date_@item.id" name="Departure_Date_@item.id" readonly />
                        </div>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" placeholder="enter Pnr" id="pnr_@i" id2="@item.id" name="pnr_@item.id" />
                        </div>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" placeholder="enter seat quantity" id="AvlSeat_@i" dataId="AvlSeat_@item.id" name="AvlSeat_@item.id" />
                        </div>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" placeholder="enter amount" id="Totalamount_@i" dataId="Totalamount_@item.id" name="Totalamount_@item.id" />
                        </div>
                    </div>
                    i++;
                }

                <script>
                    function PNRSubmit(noOfFields) {

                        for (let i = 0; i < noOfFields; i++) {
                            let tempPNRValue = $("#pnr_" + i).val();
                            let tempAmountValue = $("#Totalamount_" + i).val();
                            let tempSeatAvail = $("#AvlSeat_" + i).val();
                            if (tempSeatAvail === ''||tempAmountValue === '') {
                                alert("Field at Position " + (i + 1) + " is empty..")
                                return !1;
                            }
                        }

                        let PNRList = [];
                        for (let i = 0; i < noOfFields; i++) {
                            let PNR = {};
                            PNR.PNRValue = $("#pnr_" + i).val();
                            PNR.PNRId = $("#pnr_" + i).attr("id2");
                            PNR.SeatAvail = $("#AvlSeat_" + i).val();
                            PNR.Amount = $("#Totalamount_" + i).val();
                            PNRList.push(PNR);
                        }

                        $.ajax({
                            type: "Post",
                            url: "/FlightSearchResults/PNRInserter ",
                            data: '{PNRList: ' + JSON.stringify(PNRList) + '}',
                            contentType: "application/json; charset=utf-8",
                            datatype: "json",
                            success: function (data) {
                                if (data === "Success") {
                                    window.location = "Index";//FlightSearchResults/Index";
                                }
                            }
                        });

                    };
                </script>
                <div class="row form-group">
                    <div class="col-sm-12">
                        <input type="submit" class="btn btn-warning btn-sm pull-right" id="btnPNRSubmit" data-noOfFields="@i" onclick="PNRSubmit(@i)" value="Submit" />
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>