﻿@model FixedDD.Models.Sector_wise
@{
    ViewBag.Title = "Sector";
    Layout = "~/Views/Shared/SeeingoMaster.cshtml";

    string Jdata = "";
}
<script src="~/Scripts/FltSearchResult.js"></script>

    <div class="Box_heading">
        <h3 class=" text-center h3Style"><sapn class="glyphicon glyphicon-plane Sapn_Rotate"></sapn>  TOP FLIGHT ROUTES</h3>
    </div><br />
    <div class="container-fluid boxStyle">
        <p class="h3Style2"><span class="glyphicon glyphicon-map-marker "></span>  OffLine Flight Details</p>
        <div class="row">
            <div class="col-sm-3">
                <p class="font_size">Select Sector</p>
                @{ System.Data.DataTable ScData = FixedDD.Models.Global.GetSourceData;}
                <select id="Sector" name="Sector" class="form-control width_Style" >
                    <option value="-1">------Select Sector------</option>
                    @for(int i = 0; i < ScData.Rows.Count; i++)
                    {
                        string val = ScData.Rows[i]["Way"].ToString() + "," +ScData.Rows[i]["Dest"].ToString();
                        <option value="@val">@ScData.Rows[i]["Dest"].ToString()</option>
                    }
                </select>
                <script>
                    var ShowDetails = function () {
                        if ($('#Sector').val() != "-1")
                            location.href = "/FlightSearchResults/Flight_Search?Sector=" + $('#Sector').val();
                    };
                </script>
            </div>
            <div class="col-sm-2">
                <p class="font_size">Adult</p>
                <select id="Adult" name="Adult" class="form-control width_Style">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                </select>
            </div>
            <div class="col-sm-2">
                <p class="font_size">Child</p>
                <select id="Child" name="Child" class="form-control width_Style">
                    <option value="0">0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                </select>
            </div>
            <div class="col-sm-2">
                <p class="font_size">infant</p>
                <select id="infant" name="infant" class="form-control width_Style">
                    <option value="0">0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                </select>
            </div>
        
            <div class="col-sm-3">
                <button type="button" class="btn btn-warning form-control" onclick="Jdata = Validation_Pax(this);" style="margin-top:39px;border-radius: 50px ! important;">Search Flight</button>
                @*<input type="button" class="btn btn-warning form-control" value="Search Flight" onclick="return Validation_Pax(this);" style="margin-top:39px;border-radius: 50px ! important;" />*@
            </div>
        </div>
    </div>





<style>
    .width_Style {
        color: #000;
        border-radius: 19px !important;
        background-color: #d2bbbb;
    }


    .font_size {
        font-size: 14px;
        color: #fff;
    }

    .boxStyle {
        box-shadow: 4px 6px 4px #6b5c5c85;
        padding: 28px 15px 39px;
        background: #477196;
    }

    .h3Style2 {
        box-shadow: 2px 4px 6px #2929298a;
        font-size: 20px;
        padding: 7px 26px;
        background: #184871;
        width: 33%;
        color: #ffffff;
    }

    .borderStyle2 {
        width: 102%;
        border-bottom: 1px dashed #b5b3b3;
        padding: 12px;
    }

    .borderStyle {
        padding: 8px;
        border: 2px solid #a9a9a9;
    }

    .h3Style {
        font-family: sans-serif;
        font-size: 25px;
        color: #3577b1;
        padding-bottom: 6px;
    }

    .Box_heading {
        background: #a9a9a9;
        border: 1px dashed #858b90;
    }

    .Sapn_Rotate {
        transform: rotate(34deg);
    }

    .Sapn_Rotate2 {
        transform: rotate(90deg);
    }
</style>
