﻿@model FixedDD.Models.FixdDepHoldBookingModel
@{
    ViewBag.Title = "Update Pnr";
    Layout = "~/Views/Shared/Popup.cshtml";
}
<style>
    .heading {
        text-align: center;
        display: block !important;
        background: #ecf3f9 !important;
        color: red;
        padding: 5px;
    }

    .row_border {
        border: 1px solid #000;
        padding: 5px;
    }
</style>


<div class="container-fluid">
    <div class="row form-group row_border">
        @using (Html.BeginForm())
        {
            <div class="col-sm-12 form-group">
                <label class="heading">UPDATE PNR</label>
            </div>
            if (!string.IsNullOrEmpty(Convert.ToString(TempData["Msg"])))
            {
                <div class="alert alert-success">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <strong>@Convert.ToString(TempData["Msg"])</strong>
                </div>
            }
            else
            {
                <div class="col-sm-12 form-group form-validation">
                    @Html.TextBoxFor(b => b.GdsPnr, new { @class = "form-control ", placeholder = "enter pnr" })                 
                </div>
                <div class="col-sm-12 form-group form-validation">
                    @Html.TextAreaFor(b => b.Remark, new { @class = "form-control ", placeholder = "enter remark" })
                    <input type="hidden" id="OrderId" name="OrderId" value="@Model.OrderId" />
                </div>                
                <div class="col-sm-12 form-group">
                    <input type="submit" class="btn btn-info btn-sm form-control maincss" onclick="return CheckForm()" value="UPDATE" />
                    <span class="btn btn-info btn-sm form-control tempscss hidden">PLEASE WAIT..<i class="fa fa-spinner fa-spin"></i></span>
                </div>
            }
        }
    </div>
</div>
<script src="~/Content/fancybox/common.js"></script>
<script>
    function CheckForm() {
        if (CheckBlankValidation('GdsPnr')) return !1;
        if (CheckBlankValidation('Remark')) return !1;
        $('.maincss').addClass('hidden');
        $('.tempscss').removeClass('hidden');
    }
</script>