﻿@model FixedDD.Models.AdtFareDetails

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/SeeingoMaster.cshtml";
}

<div class="container-fluid">
    <div class="panel panel-primary">

        <div class="panel panel-heading">
            <span class="glyphicon glyphicon-fullscreen"></span> &nbsp; Fair Details
            <a class="btn btn-warning btn-sm pull-right margintop4px" href="/AdtFareDetails/Index"><span class="glyphicon glyphicon-circle-arrow-left"></span> Back to List</a>
        </div>
        <div class="panel panel-body">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.AdtFare)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.AdtFare)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.AdtBfare)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.AdtBfare)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.AdtTax)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.AdtTax)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.AdtFSur)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.AdtFSur)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.AdtYR)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.AdtYR)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.AdtWO)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.AdtWO)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.AdtIN)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.AdtIN)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.AdtQ)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.AdtQ)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.AdtJN)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.AdtJN)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.AdtOT)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.AdtOT)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.AdtSrvTax)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.AdtSrvTax)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.AdtSrvTax1)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.AdtSrvTax1)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.AdtEduCess)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.AdtEduCess)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.AdtHighEduCess)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.AdtHighEduCess)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.AdtTF)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.AdtTF)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.ADTAdminMrk)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ADTAdminMrk)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.ADTAgentMrk)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ADTAgentMrk)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.ADTDistMrk)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ADTDistMrk)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.AdtDiscount)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.AdtDiscount)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.AdtDiscount1)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.AdtDiscount1)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.AdtCB)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.AdtCB)
                </dd>

            </dl>
        </div>
  </div>
</div>