﻿@model FixedDD.Models.CityList

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/SeeingoMaster.cshtml";
}

<div class="container-fluid">
    <div class="panel panel-primary">

        <div class="panel panel-heading">
            <span class="glyphicon glyphicon-fullscreen"></span> &nbsp; City List Details
            <a class="btn btn-warning btn-sm pull-right margintop4px" href="/CityLists/Index"><span class="glyphicon glyphicon-circle-arrow-left"></span> Back to List</a>
        </div>
        <div class="panel panel-body">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.AirportCode)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.AirportCode)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.AirportName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.AirportName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.CityName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.CityName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.CountryCode)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.CountryCode)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.CountryName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.CountryName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Latitude)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Latitude)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Longitude)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Longitude)
                </dd>               
                <dt>
                    @Html.DisplayNameFor(model => model.orderseq)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.orderseq)
                </dd>
            </dl>
        </div>
    </div>
</div>