﻿@model IEnumerable<FixedDD.Models.CityList>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/SeeingoMaster.cshtml";
}

<fieldset>
    <legend>
        <span class="glyphicon glyphicon-fullscreen"></span> City List
    </legend>
</fieldset>
<div class="col-lg-12">
    @try
    {
        if (!string.IsNullOrEmpty(TempData["Msg"].ToString()))
        {
            if (TempData["Msg"].ToString() == "0")
            {
                <div class="alert alert-warning">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <strong>Warning!</strong> Record Already Exist. Unable to Save !
                </div>
            }
            else if (TempData["Msg"].ToString() == "1")
            {
                <div class="alert alert-success">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <strong>Success!</strong> Record submitted successfully!
                </div>
            }
            else if (TempData["Msg"].ToString() == "2")
            {
                <div class="alert alert-success">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <strong>Success!</strong> Record Update successfully!
                </div>
            }
            else if (TempData["Msg"].ToString() == "3")
            {
                <div class="alert alert-danger">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <strong>Success!</strong> Record Delete successfully!
                </div>
            }
            else if (TempData["Msg"].ToString() == "4")
            {
                <div class="alert alert-danger">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <strong>Success!</strong> Unable To Delete The Record. Data  used at another place.!
                </div>
            }
        }
    }
    catch { }
</div>

<div class="row form-group">
    <div class="col-sm-4">
        @*<a href="/CityLists/Create" class="btn btn-primary btn-sm"><span class="fa fa-plus-circle"></span> Add New </a>*@
        <button class="btn btn-sm btn-info pull-left"> <span class="glyphicon glyphicon-ok-circle"></span>Totat Record (@ViewBag.totalrecord)</button>
    </div>
    <div class="col-sm-6">
        <form method="post" action="/FixedDeparture/CityLists/Index">
            <div class="col-sm-12  input-group">
                <span class="input-group-addon"><i class="fa fa-bars"></i></span>
                <input type="text" class="form-control" id="Search" name="Search" placeholder="Search" value="@ViewBag.search" />
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-warning"><i class="fa fa-search"></i> Search</button>
                </span>
            </div>
        </form>
    </div>
    <div class="col-sm-2 pull-right">
        <div class="input-group">
            <span class="input-group-addon">Page</span>
            <select id="txtSelect" name="txtSelect" class="form-control" onchange="NextPage()">
                @{ int totalrecord = ViewBag.totalrecord;}
                @for (int i = 1, count = 0; count < totalrecord; i++, count = count + 20)
                {
                    <option>@i</option>
                }
            </select>
        </div>
    </div>
</div>
<div class="row">
    <div id="tbldata">
        <div class="col-sm-12">
            <table class="table table-bordered table-condensed" data-height="400" data-toggle="table">
                <thead>
                    <tr>
                        <th>
                            Airport Code
                        </th>
                        <th>
                            Airport Name
                        </th>
                        <th>
                            City Name
                        </th>
                        <th>
                            Country Name
                        </th>
                        <th>
                            Country Code
                        </th>
                        <th>
                            Latitude
                        </th>
                        <th>
                            Longitude
                        </th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>

                            <td>
                                @item.AirportCode
                            </td>
                            <td>
                                @item.AirportName
                            </td>
                            <td>
                                @item.CityName
                            </td>
                            <td>
                                @item.CountryName
                            </td>
                            <td>
                                @item.CountryCode
                            </td>
                            <td>
                                @item.Latitude
                            </td>
                            <td>
                                @item.Longitude
                            </td>

                            <td>
                                <div class="btn-group">
                                    <a href="/FixedDeparture/CityLists/Edit/@item.id" class="btn btn-warning btn-xs" data-toggle="tooltip" title="Edit"><span class="glyphicon glyphicon-edit"></span></a>
                                    <a href="/FixedDeparture/CityLists/Details/@item.id" class="btn btn-success btn-xs" data-toggle="tooltip" title="Detail"><span class="glyphicon glyphicon-fullscreen"></span></a>
                                    @*<a href="/CityLists/Delete/@item.id" class="btn btn-danger btn-xs" data-toggle="tooltip" title="Delete"><span class="glyphicon glyphicon-remove"></span></a>*@
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<style>
    .btn-info:hover{
        cursor:no-drop;
    }
</style>

<script>
    var NextPage = function () {
        var PageNo = $('#txtSelect').val();
        $.get('/FixedDeparture/CityLists/NextIndex?page=' + PageNo, function (data) {
            $('#tbldata').html(data);
        });
    }

</script>s